<div class="page-header">
  <h1>Listing readings</h1>
</div>

<%#=@readings.last['data']['raw']%>

<div class="row">
  <div class="col-md-12">  
    <div id="temperature" style="//height: 230px;"></div>
    teste
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Data</th>
            <th>Timestamp</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @readings) do |reading| %>
            <td><%= reading.data %></td>
            <td><%= reading.timestamp %></td>
        <td><%= link_to 'Destroy', device_reading_path(@device, reading), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function () {
        Highcharts.setOptions({                                            // This is for all plots, change Date axis to local timezone
                global : {
                    timezoneOffset: 120
                }
            });
        var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'temperature',
                type: 'spline',
                zoomType: 'x'
            },

    boost: {
        useGPUTranslations: true
    },

    title: {
        text: 'Raw data'
    },

    series: [{
        data: [338,352,314,249,195,123,69,12,-47,-95,-124,-161,-136,-123,-72,-44,-21,-4,-19,-12,-35,-58,-79,-88,-116,-126,-157,-162,-138,-90,49,207,308,336,310,276,207,143,86,29,-37,-100,-139,-154,-161,-129,-91,-44,-13,-5,8,-9,-27,-42,-62,-93,-110,-136,-142,-168,-155,-104,22,168,282,342,319,265,215,157,76,29,-32,-85,-132,-139,-142,-107,-74,-32,2,17,20,11,-13,-29,-35,-60,-96,-100,-118,-127,-129,-53,95,233,327,347,307,252,189,118,66,-4,-60,-124,-150,-163,-144,-106,-78,-20,-3,2,5,5,-25,-49,-72,-89,-118,-142,-159,-156,-103,-14,74,277,312,348,301,254,183,122,69,12,-67,-106,-147,-158,-133,-123,-54,-34,-4,9,8,-1,-18,-45,-70,-91,-111,-131,-159,-153,-102,12,155,285,328,317,261,216,146,80,19,-44,-100,-141,-168,-157,-139,-97,-44,-13,-6,2,-14,-15,-52,-75,-91,-98,-119,-135,-134,-90,15,154,280,337,339,286,235,166,114,48,-22,-83,-135,-145,-141,-124,-79,-49,-7,5,7,2,-3,-40,-51,-74,-85,-113,-136,-136,-106,-7,131,269,316,318,276,232,171,107,52,-7,-70,-118,-144,-152,-130,-89,-52,-25,-10,2,-12,-21,-30,-55,-62,-74,-105,-124,-127,-95,21,141,254,304,309,264,209,144,89,28,-19,-67,-123,-141,-137,-128,-87,-51,-17,-5,2,2,-12,-34,-40,-62,-93,-101,-128,-118,-91,4,137,252,328,309,256,212,148,91,31,-23,-81,-127,-144,-144,-118,-101,-60,-19,-16,-15,-7,-9,-32,-44,-66,-84,-105,-124,-128,-113,-24,94,223,300,312,291,230,166,103,48,-18,-88,-119,-149,-163,-142,-105,-64,-35,-18,-3,-15,-6,-22,-36,-43,-76,-97,-108,-110,-84,-16,116,223,301,313,265,207,157,89,31,-26,-80,-135,-140,-135,-126,-91,-45,-31,12,13,1,-15,-28,-45,-65,-101,-104,-130,-129,-84,2,144,254,310,307,261,190,138,87,38,-32,-85,-132,-149,-141,-114,-86,-48,-5,-3,-1,3,-8,-31,-64,-71,-84,-113,-112,-131,-85,29,158,280,320,303,246,191,126,72,13,-43,-96,-130,-148,-152,-129,-95,-44,-16,-2,1,-14,-18,-42,-55,-91,-116,-130,-133,-145,-84,20,156,267,305,288,241,181,121,58,-1,-55,-112,-134,-164,-146,-127,-82,-61,-41,-8,-16,-6,-31,-46,-69,-83,-101,-117,-127,-115,-47,78,205,294,316,279,223,171,109,44,-8,-83,-111,-150,-158,-133,-102,-55,-22,1,-1,9,-7,-28,-59,-66,-93,-94,-132,-133,-124,8,81,271],
        lineWidth: 1.5
    }]

        });
          });
</script>